<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caseview.caselog.mirror">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Subscribe"
            android:label="@string/title_activity_subscribe"/>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caseview.caselog.mirror.MainActivity" />
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics" />
        <activity
            android:name=".SelectedCasesActivity"
            android:label="@string/title_activity_selected_cases" />
        <activity
            android:name=".CaseSelect"
            android:label="@string/title_activity_case_select" />
        <activity
            android:name=".Payment"
            android:label="@string/title_activity_payment" />
        <activity
            android:name=".ProfileShow"
            android:label="@string/title_activity_profile_show" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_log_in"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caseview.caselog.mirror.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Temp"
            android:label = "Temp">
        </activity>
        <activity android:name=".CourtList" />
        <activity android:name=".FragmentHost"></activity>
    </application>

</manifest>